rabbitcloud/src/main/app/getmsg.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
    <flow name="getmsgFlow">
        <amqp:inbound-endpoint exchangeName="ch.exchange" routingKey="ch.key" exchangeType="direct" exchangeDurable="true" responseTimeout="10000" exchange-pattern="request-response" doc:name="AMQP"/>
        <amqp:amqpmessage-to-object-transformer name="AMQP_Message_to_Object" doc:name="AMQP Message to Object"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="#[message]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
