rabbitcloud/src/main/app/rabbitcloud.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8246" doc:name="HTTP Listener Configuration"/>
    <flow name="rabbitcloudFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/rabbitch" doc:name="HTTP"/>
        <set-payload value="Rabbit is cloud" doc:name="Set Payload"/>
        <amqp:outbound-endpoint exchangeName="ch.exchange" routingKey="ch.key" exchangeType="direct" exchangeDurable="true" responseTimeout="10000" exchange-pattern="request-response" doc:name="AMQP"/>
        <logger message="Sent msg: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
